.image-container {
    position: relative;
    margin: 2rem auto;
    width: 100%;
    max-height: 360px;
    max-width: 360px;
    object-fit: cover;
    border-radius: 5px;

    @media (min-width: 768px) {
        margin: 2rem auto;
        max-width: 40%;
    }

    @media (min-width: 1200px) {
        margin: 2rem auto;
        max-width: 30%;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}
